*{
  font-family: "Urbanist";
  color: white;
}

body{
  background-color: #1b1d1f !important;
}

h1{
  text-align: center;
}

#header{
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  main{
    padding: 0 !important;
  }
}
