main{
    display: flex;
    padding: 0 5vw;
    flex-direction: column;
}

h1{
  margin: 5vh 0;
}

.feature{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    width: 33.333%;
    padding: 0 1vw;
    align-items: center;
}

.feature img {
    max-width: 20%;
    margin: 0 auto;
}

#features{
    display: block;
}

#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

#bannerTitle{
  display: block;
  text-align: center;
  color: white;
  max-width: 90%;
  font-size: 40px;
  margin-top: -15vh;
}

#bannerText{
    display: block;
    font-size: 75px !important;
}
     
#bgVideo{
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
  filter: opacity(50%);
}

#companyName{
    font-weight: 600;
}

#projects{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

#showMoreButton{
  width: 40%;
  margin: 50px auto;
  font-size: 2rem;
  padding: 2rem;
}


@media only screen and (max-width: 768px) {

  .feature{
      display: block;
      width: 100%;
      padding: 10vw;
  }
  
  #bannerText{
    font-size: 30px !important;
  }
  
  #bannerText{
      font-size: 50px !important;
    }

  #companyName{
    font-size: 30px;
  }

  #showMoreButton{
    width: 80%;
  }

}

