.project{
    width: 25%;
    height: 30rem;
    display: inline-block;
    flex-direction: row;
    position: relative;
    background-size: cover;
    background-position: center;
  }
  
  .project img{
    max-width: 100%;
    object-fit: cover;
  }

  .project-info{
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(27, 29, 31, 0.7);
    min-width: 100%;
    min-height: 100%;
    z-Index: 1;
  }

  .project-info:hover{
    cursor: pointer;
  }

  @media only screen and (min-width: 1201px){
    .project-info:hover{
      opacity: 1;
      -webkit-animation: fadeIn 0.25s;
      -moz-animation: fadeIn 0.25s;
      -o-animation: fadeIn 0.25s;
      -ms-animation: fadeIn 0.25s;
    }
    .project-info:not(:hover){
      -webkit-animation: fadeOut 0.25s;
      -moz-animation: fadeOut 0.25s;
      -o-animation: fadeOut 0.25s;
      -ms-animation: fadeOut 0.25s;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 1200px){
    .project{
      width: 50%;
      height: 30rem;
    }

    .project-info{
      opacity: 1;
    }
  }

  @media only screen and (max-width: 768px) {

    .project{
        display: block;
        width: 100%;
        height: 50vh;
     }
     .project-info{
       opacity: 1;
     }
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }